# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env vars
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

# Docker
docker-compose.override.yml
